:root
{
    --font-size__min: 1.2rem;
    --font-size__medium: 1.4rem;
    --font-color__nav--header: black;
    --font-color__button--header: white;
    --font-color__main--input: black;
    --background-color__icon--headerhob: #dae0e6;
    --background-color__button--header: #1a73e8;  
    --background-color__button--headerhob: #6a9fe4;
    --border-color__container--main: rgb(223, 221, 221);
    --border-color__container--mainhob: rgb(211, 209, 209);
    --background-color__main--button: #f8f9fa;
    --background-color__main--buttonhub: rgb(211, 209, 209);
    --border-color__main--button: #f8f9fa;
    --background-color__footer: #f2f2f2;
    --border-color__section--footer: rgb(201, 199, 199);
    --font-color__nav--footer: rgb(104, 103, 103);
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
}

body
{
    width: 100%;
    height: 100%;
}

/*----------HEADER----------*/

.header
{
    width: 100vw;
    height: 10vh;
}

.header-nav
{
    width: 100%;
}

.header-nav__list
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-nav__list--item
{
    list-style: none;
    margin: 1rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-nav__list--item a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: var(--font-size__medium);
    color: var(--font-color__nav--header);
}

.gmail:hover,
.imagenes:hover
{
    text-decoration: underline;
}

.icono a
{
    padding: 1rem;
    border-radius: 100%;
}

.icono a:hover
{
    background-color: var(--background-color__icon--headerhob);
}

#Capa_1
{
    width: 17px;
}

.button
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button a
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button
{
    background-color: var(--background-color__button--header);
    color: var(--font-color__button--header);
    border-width: 0;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: var(--font-size__medium);
    font-style: italic;
    cursor: pointer;
}

.button button:hover
{
    background-color: var(--background-color__button--headerhob);
}

/*----------MAIN----------*/

.main
{
    width: 100vw;
    height: 75vh;
}

.main-section__one
{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-section__one--logo
{
    width: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-section__one--logo svg
{
    width: 100%;
    max-width: 450px;
    height: 92px;
}

.main-section__two
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.main-section__two--container
{
    width: 90%;
    max-width: 580px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--border-color__container--main) 1px;
    border-radius: 5rem;
}

.main-section__two--container:hover
{
    box-shadow: var(--border-color__container--mainhob) 1px 1px 4px;
}

.container-item__one,
.container-item__three
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#Capa_2
{
    width: 13px;
}

#Capa_3
{
    width: 19.5px;
}

.container-item__two
{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;
}

.container-item__three
{
    cursor: pointer;
}

.container-item__two label
{
    width: 100%;
    height: 100%;  
}

.container-item__two input
{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: var(--font-color__main--input);
    font-size: var(--font-size__medium);
    outline: none;
}


.main-section__three
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box1,
.box2
{
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 1.5rem auto;
}

.box1 button
{
    border: solid 1px var(--border-color__main--button);
    background-color: var(--background-color__main--button);
    margin: 0 1rem;
    padding: 1rem 2rem;
    font-size: var(--font-size__medium);
    border-radius: 1rem;
    cursor: pointer;
}

.box1 button:hover
{
    box-shadow: var(--background-color__main--buttonhub) 1px 1px 4px;
}

.box2 p
{
    font-size: var(--font-size__medium);
    color: #4285f4;
}

.box2 a
{
    font-size: var(--font-size__medium);
}

/*----------FOOTER----------*/

.footer
{
    width: 100vw;
    height: 15vh;
    background-color: var(--background-color__footer);
}

.footer-section
{
    width: 100%;
}

.paragraph
{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--border-color__section--footer);
}

.paragraph p
{
    font-size: var(--font-size__min);
    color: var(--font-color__nav--footer);
    margin: 0 1.5rem;    
}

.nav1,
.nav2
{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section__nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.footer-section__nav--list
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section__nav--list li
{
    list-style: none;
    margin: 1rem 0;
    padding-right: 1rem;
    padding-left: 1rem;
}

.footer-section__nav--list a
{
    text-decoration: none;
    font-size: var(--font-size__min);
    color: var(--font-color__nav--footer);
}

.footer-section__nav--list a:hover
{
    text-decoration: underline;
}